/Beispiel2/nbproject/private/
/Beispiel2/build/
/Beispiel3/nbproject/private/
/Beispiel4/nbproject/private/
/Beispiel4/build/
/Beispiel3/build/
/Beispiel3/dist/
/test/nbproject/private/
/test/build/
/Beispiel5/nbproject/private/
/Beispiel5/build/